body{
    background-color: aqua;
}
h1{
    color: green;
    font-family: 'Rampart One', cursive;
    text-align: center;
    font-size: 34;
    
}
a: link{
    color: crimson;
    font-family: 'Alfa Slab One', cursive;
    text-decoration-line: none
}
a: visited{
    color: black;
}
a:hover{
    color: darkgreen;
}

*{
    margin: 0px;
    padding: 0px;
}
div.header{
    width: 100%;  
    background-color: navy;
    color: aquamarine;
    text-decoration: none;
    font-size: 50pt;
    background-color: darkviolet;
}
div.right{
    float: right;
    width: 70%;
    height: 500px;
    background-color: fuchsia;
    font-family: 'Italianno', cursive;
    font-size: 30;
}
div.left{
    float: left;
    width: 30%;
    height: 500px;
    background-color: pink;
    text-decoration-line: none;
    font-size: 30;
}
div.footer{
    width: 100%;
    height: 100px;
    background-color: purple;
    

}
 


